---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="date">
    Written on {{ page.date | date_to_long_string }}
  </span>

  <div class="entry">
    {{ content }}
  </div>

  <div class="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="AndrewCullIO">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>

<aside>
<h2>Related Posts</h2>
{% for post in site.related_posts limit:5 %}
  {% assign match = false %}
  {% for category in post.categories %}
    {% if page.categories contains category %}
      {% assign match = true %}
    {% endif %}
  {% endfor %}
  {% if match %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endif %}
{% endfor %}
</aside>
